body {
    padding-top: 50px;
    padding-bottom: 20px;
}

header.navbar {
    background-color: #fff;
    border: 1px solid #efefef;
}

.logo {
    margin-top: 10px;
    width: 200px;
}

.app-title {
    font-size: 20px;
    color: black;
}

main {
    position: relative;
    padding-top: 60px;
}

.widget-container {
    margin: 20px 0px;
}

.widget {
    border: 1px solid #ccc;
    height: 375px;
    transition: transform 0.5s;
    position: relative;
}

.widget:hover {
    transform: scale(1.02);
}

.widget-header {
    background-color: #ccc;
    padding-left: 5px;
}

.widget-large-value {
    font-size: 60px;
}

.widget-drag-background {
    background-color: #efefef;
}

.option-text {
    margin-left: 5px;
}

.fade-in {
    animation: fade-in-animation 1s ease-in;
}

@keyframes fade-in-animation {
    from {
        opacity: 0;
    }
 
    to {
        opacity: 1;
    }
}

@keyframes fade-out-animation {
    from {
        opacity: 1;
    }
 
    to {
        opacity: 0;
    }
}


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

@media (min-width: 20px) and (max-width: 767px) and (orientation: portrait) {
    .widget {
        height: 225px;
    }
}